body {
  background: #444;
}

section {
  border: 1px solid black;
  background: #e4e4e4;
  width: 55vw;
  height: 55vh;
  margin: 20vh auto;
  box-sizing: border-box;
  padding: 40px;
  overflow-y: auto;
}

label, p {
  font-family: Gelasio;
  font-size: 20px;
}

input, select {
  font-family: Gelasio;
  font-size: 16px;
}
